# Inital idea
This should be an initial project to demonstrate my capacity to build, analysis and retrieval meaningful insights from agriculture data.
## Data
We will work with soybean prices and some basic description and graphics on the follow time series. 
The data come from the CONAB (The National Supply Company from Brazil).

## Data import

In [2]:
#import library
import pandas as pd
import numpy as np

In [3]:
#read the file csv post first cleaning 
df = pd.read_csv('preco_soja.csv', delimiter= ";")

In [4]:
print(df.describe(), df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    106 non-null    object
 1   prices  106 non-null    object
dtypes: object(2)
memory usage: 1.8+ KB
            date prices
count        106    106
unique       106    105
top     01.02.16  168,1
freq           1      2 None

In [5]:
print(df.head())

       date prices
0  01.02.16  67,26
1  01.03.16  62,72
2  01.04.16  61,52
3  01.05.16  72,36
4  01.06.16  81,19

## Data cleaning and formating
Here we can se a problem on the Dtyper and format with the "," and "." on the prices features

In [13]:
#changing the Dtyper from "date" and "prices" to date and float

def preprocess_dataframe(df):
    """
    Processes a DataFrame to:
    - Replace commas with dots in numeric columns and convert them to float.
    - Convert the 'data' column to datetime format.
    
    Parameters:
        df : The input DataFrame with object type columns.

    Returns:
        df : df processed 
    """
    # Make a copy to avoid modifying the original DataFrame
    df_copy = df.copy()
    
    # Convert the 'data' column to datetime, the format need to match the "date" format as before with a year with only 2 digit so "%y"
    df_copy['date'] = pd.to_datetime(df_copy['date'], format='%d.%m.%y')
    
    # Replace commas with dots and convert to float for numeric columns
    numeric_columns = ['prices']
    for col in numeric_columns:
        df_copy[col] = df_copy[col].str.replace(',', '.').astype(float)
    
    return df_copy

# Processed DataFrame
df = preprocess_dataframe(df)

# Display the processed DataFrame
print(df.head(10), df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 106 entries, 0 to 105
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    106 non-null    datetime64[ns]
 1   prices  106 non-null    float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.8 KB
        date  prices
0 2016-02-01   67.26
1 2016-03-01   62.72
2 2016-04-01   61.52
3 2016-05-01   72.36
4 2016-06-01   81.19
5 2016-07-01   76.97
6 2016-08-01   74.33
7 2016-09-01   73.32
8 2016-10-01   74.90
9 2016-11-01   72.24 None